<div class="right-panel col-lg-11 col-md-11">
 

  <div class="show-panel" id="product">

    <div class="table-responsive">
     
        <div class="table-title">
          <div class="row">
            <div class="col-sm-8">
              <h2>Product Details</h2>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i>
                <a href="/product/add-product" >Add New</a></button>
            </div>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Image</th>
              <th>Name</th>
              <th>Price</th>

              <th>Category</th>
              <th>Stock</th>
              <th class="column-wider">Desc</th>
              <th>Actions</th>

            </tr>
          </thead>
          {{#each productList}}
          <tr>
  <td>{{inc @index}}</td>
  <td class="product-image"><img src="{{this.imageUrl}}" /></td>
  <td>{{this.productName}}<p>{{this.quantity}}</p></td>
  <td>{{this.productPrice}} euros</td>
  <td>{{this.categoryName}}</td>
  <td>{{this.stock}}</td>
  <td>{{this.description}}</td>
  <td>
    <form action="/product/{{_id}}/edit" method="GET"> <!-- Use GET method to navigate to edit page -->
      <button type="submit" class="edit" title="Edit"><i class="material-icons">&#xE254;</i></button>
    </form>
    <form action="/product/{{_id}}/delete" method="POST">
      <button type="submit" class="delete" title="Delete"><i class="material-icons">&#xE872;</i></button>
    </form>
  </td>
</tr>
      
          {{/each}}
        </table>
      
    </div>
  </div>

</div>